## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [6]:
country = ['Argentina','Armenia','Aruba','Australia','Austria',
'Belgium','Brazil','Cambodia','Cameroon','Canada',
'Chile','Colombia','Congo','Costa Rica','Czech',
'Luxembourg','Malaysia','Mexico','Nepal','Netherlands',
'New Zealand','Norway','Pakistan','Panama','Peru',
'Philippines','Poland']

In [7]:
len(country)

27

In [9]:
popul = list(np.random.randint(500000,size=len(country)))

In [10]:
data = {'國家': country,
        '人口': popul }
df_country_sample = pd.DataFrame(data)

In [13]:
df_country_sample

             國家      人口
0     Argentina  357165
1       Armenia  124682
2         Aruba  371008
3     Australia  471047
4       Austria  233004
5       Belgium   99864
6        Brazil  485282
7      Cambodia  203195
8      Cameroon  431030
9        Canada  258329
10        Chile   76941
11     Colombia  440558
12        Congo  206199
13   Costa Rica  164077
14        Czech  326298
15   Luxembourg  477121
16     Malaysia  304353
17       Mexico  415400
18        Nepal  199552
19  Netherlands  267331
20  New Zealand   42197
21       Norway  241757
22     Pakistan   53653
23       Panama   20401
24         Peru  451802
25  Philippines   24647
26       Poland  291108

In [24]:
df_country_sample.loc[[df_country_sample['人口'].idxmax()],:]

       國家      人口
6  Brazil  485282