In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path, 並讀取 app_train
dir_data = 'D:/Github/2nd-ML100Days/data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

In [28]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [29]:
sub_train.select_dtypes(include=["object"]).apply(pd.Series.nunique, axis = 0)

WEEKDAY_APPR_PROCESS_START    7
dtype: int64

In [30]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [32]:
le.fit(sub_train[col])
sub_train['WEEKDAY_APPR_PROCESS_START_label'] = le.transform(sub_train[col])

In [34]:
sub_train.head(10)

  WEEKDAY_APPR_PROCESS_START  WEEKDAY_APPR_PROCESS_START_label
0                  WEDNESDAY                                 6
1                     MONDAY                                 1
2                     MONDAY                                 1
3                  WEDNESDAY                                 6
4                   THURSDAY                                 4
5                  WEDNESDAY                                 6
6                     SUNDAY                                 3
7                     MONDAY                                 1
8                  WEDNESDAY                                 6
9                   THURSDAY                                 4

In [35]:
le.classes_

array(['FRIDAY', 'MONDAY', 'SATURDAY', 'SUNDAY', 'THURSDAY', 'TUESDAY',
       'WEDNESDAY'], dtype=object)

In [19]:
#le.inverse_transform(sub_train[[col]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:273: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array(['WEDNESDAY', 'MONDAY', 'MONDAY', ..., 'THURSDAY', 'WEDNESDAY',
       'THURSDAY'], dtype=object)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [ ]:
"""
Your Code Here
"""

In [23]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [24]:
sub_train_dummy = pd.get_dummies(sub_train)

In [27]:
#類別型的數量會轉化為欄位，並且以原本的欄位+"_"+dummy variable
print(sub_train_dummy.shape)
sub_train_dummy.head()

(307511, 7)

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0